[Unit]
Description=ReMagic task manager interface
Requires=remagicd.service
BindsTo=remagic-display-host.service
After=remagicd.service remagic-display-host.service
ConditionPathExists=/run/remagic/managed-domain

[Service]
Type=simple
ExecStart=/home/root/apps/remagic/bin/remagic-home
Environment=LD_LIBRARY_PATH=/home/root/apps/remagic/lib:/usr/lib/plugins/scenegraph:/usr/lib
Environment=REMAGIC_QTFB_SOCKET=/tmp/qtfb.sock
Environment=QTFB_KEY=245209900
Restart=on-failure
RestartSec=300ms
TimeoutStopSec=5
KillMode=control-group
SendSIGKILL=yes
UMask=0077
